.left-panel a:hover{
    background: rgba(0,0,0,0.2);
}
#left-panel-tables{
    background: rgba(0,0,0,0.1);
}
#left-panel{
    min-height: calc(100vh - 3.5rem);
}
.active >.nav-link{
  padding-top:0.25rem!important;
  padding-bottom:0.75rem!important;
}
.path{
  cursor: pointer;
}
.path.selected{
  background: rgba(23, 162, 184, 0.31)!important;
}
.path:hover,.path:focus{
  background: rgba(0,0,0,0.05);
}
