{% extends "mainapp/base.html" %}
{% load static %}
{% load customfilters %}
{% block title %}SmartDHOLES|Add new table{% endblock %}

{% block content %}
  <div class="col-md-6 mx-auto mt-3">
    <div style="mt-3">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success'%} alert-success {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'info' %} alert-info {% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>

    {% if formset.non_form_errors %}
    <div class=" alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{formset.non_form_errors|striptags}}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'mainapp:add_table' %}">
      {% csrf_token %}
      <div id="fg_table_type" class="form-group">
        {{ form.table_type.label_tag }}
        {{form.table_type}}
      </div>
      <div id="fg_table_name" class="form-group">
        {{ form.table_name.label_tag }}
        {{ form.table_name }}
      </div>
       <div id="extra_fields">

       </div>

      {# columns formset #}
      {{ formset.management_form }}
      <div id="form-container">
      {% for form in formset %}
      <div class="form-fieldset-{{ forloop.counter0 }}">

      {% if form.name.errors %}
      <div class="form-group">
        <div class=" alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{form.name.errors|striptags }}
        </div>
      </div>
      {% endif %}
      <div class="form-row">
        <div class="form-group col-7">
          <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
        </div>
        <div class="form-group col-4">
          <label for="{{ form.tb_type.id_for_label }}" class="col-form-label">{{ form.tb_type.label }}</label>
        </div>
        <div class="form-group col-1">
          <label for="{{ form.nullable.id_for_label }}" class="col-form-label text-center">{{ form.nullable.label }}</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-7">
          {{ form.name }}
        </div>
        <div class="form-group col-4">
          {{ form.tb_type }}
        </div>

        <div class="form-group col-1">
            <label class="custom-control custom-checkbox">
             {{ form.nullable }}
            <span class="custom-control-indicator mt-1"></span>
          </label>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>


      <div class="form-row my-3">
        <div class="form-group col-md-6">
          <button class="btn btn-primary" id="add-column" type="button"><span class="fa fa-plus"></span></button>
          <button class="btn btn-primary" id="form-delete" type="button"><span class="fa fa-minus"></span></button>
        </div>

        <div class="form-group col-md-6">
          <div class="float-right">
            <a href="{% url 'mainapp:reflector' %}" class="btn btn-danger">Cancel</a>
            <button id="create_btn" type="submit" class="btn btn-success">Create</button>
          </div>
        </div>
      </div>

    </form>
  </div>

<!-- the template -->
<script type="text/html" id="form-template">
	<div class="form-fieldset-__prefix__" style="display: none;">
    <div class="form-row well well-lg">
      <div class="form-group col-7">

        <input pattern='[a-zA-Z0-9]+\w*[a-zA-Z0-9]+' onchange="myinput(this);" name="form-__prefix__-name" required="" placeholder="name" class="inp_name form-control" id="id_form-__prefix__-name" type="text">
      </div>
      <div class="form-group col-4">

        <select name="form-__prefix__-tb_type" required="" class="form-control" id="id_form-__prefix__-tb_type">
          <option value="String">STRING</option>
          <option value="Float">FLOAT</option>
          <option value="Integer">INTEGER</option>
        </select>
      </div>
      <div class="form-group col-1">
         <label class="custom-control custom-checkbox">
           <input name="form-__prefix__-nullable" class="custom-control-input d-none" id="id_form-__prefix__-nullable" type="checkbox">
           <span class="custom-control-indicator mt-1"></span>
         </label>
      </div>
    </div>

	</div>
</script>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/inlineform/django-inline-form.js' %}"></script>

<script type="text/javascript">
function myinput(input){
  inp_value = input.value;

  var values = [];
  $(".inp_name").each(
    function ()
    {
      if (!($(input).attr("id") == $(this).attr("id"))){
        values.push(this.value);
        }
    });

    if (values.includes(inp_value)){
      $(input).removeClass('is-invalid');
      $('.invalid-feedback').remove();
      $('#create_btn').attr('disabled','disabled');
      $('#add-column').attr('disabled','disabled');
      $('#form-delete').attr('disabled','disabled');
      $(input).addClass('is-invalid');
      $(input).after('<div class="invalid-feedback">This column name already exist.</div>');
    }
    else {
      $('#create_btn').removeAttr('disabled');
      $('#add-column').removeAttr('disabled');
      $('#form-delete').removeAttr('disabled');
      $(input).removeClass('is-invalid');
      $('.invalid-feedback').remove();
    }

  }
  </script>

<script>
$(document).ready(function(){

  $('#add-column').djangoInlineFormAdd({
    prefix: "form",
  });

var max = $('#id_form-MAX_NUM_FORMS').attr('value');
init("assay_certificate");
set_fieldkey('SampleID');

$("#id_table_type").change(function(evento){
  if(this.value == 'assay'){
    $('#extra_fields').empty();
    $('#form-container').empty();
    clear_fgkey_Fields();
    get_references();
    add_colTable(max);
  }
  if(this.value == 'litho'){
    $('#extra_fields').empty();
    $('#form-container').empty();
    clear_fgkey_Fields();
    get_references();
    add_colTable(max);
  }

  else if(this.value == 'other_interval'){
    $('#extra_fields').empty();
    $('#form-container').empty();
    clear_fgkey_Fields();
    add_colTable(max);

    $.ajax({
      method: "POST",
      url: '{% url "mainapp:get_collar_reference_tables_in_json" %}',
      data: {
        'path': "null_path",
      },
      dataType: 'json',
      success: function(data) {
        if (data.content.collars){
          collar_select =
          "<div id='fg_collar_reference' class='form-group'>"+
          "<label for='id_collar_reference'>Collar:</label>"+
          "<select name='collar_reference' required='' class='form-control custom-select' id='id_collar_reference'>"
          for(var i = 0; i < data.content.collars.length; i++) {
            collar_select += "<option value='"+data.content.collars[i]+"'>"+data.content.collars[i]+"</option>"
          }
          collar_select += "</select></div>"
          $("div#fg_table_name").after(collar_select);
        }
        if (data.content.references){
          reference_select =
          "<div id='fg_table_reference' class='form-group'>"+
          "<label for='id_table_reference'>Reference:</label>"+
          "<select name='table_reference' required='' class='form-control custom-select' id='id_table_reference'>"
          for(var i = 0; i < data.content.references.length; i++) {
            reference_select += "<option value='"+data.content.references[i]+"'>"+data.content.references[i]+"</option>"
          }
          reference_select += "</select></div>"
          $("div#fg_collar_reference").after(reference_select);
        }
      }
    });
  }
  else if (this.value == 'other_reference'){
    clear_fgkey_Fields();
    $('#form-container').empty();
    add_colTable(max);
    set_fieldkey('');
  }

  else if (this.value == 'assay_certificate'){
    clear_fgkey_Fields();
    $('#form-container').empty();
    add_colTable(max);
    set_fieldkey('SampleID');
    init("assay_certificate");
  }
  else if (this.value == 'rock_catalog'){
    clear_fgkey_Fields();
    $('#form-container').empty();
    add_colTable(max);
    set_fieldkey('RockID');
    init("rock_catalog");
  }
});
});

function init(table_type){
  if(table_type == "assay_certificate"){
  $('#id_form-0-name').attr("value","Au");
  $('#id_form-0-tb_type option:nth(1)').attr("selected",true);
  $('#id_form-0-nullable').attr("checked",true);
  }
  else if(table_type == "rock_catalog"){
    $('#id_form-0-name').attr("value","Description");
    $('#id_form-0-nullable').attr("checked",true);
  }
}

function set_fieldkey(pkey){
  $('#extra_fields').empty();
  var field = "<div id='field_table_pkey' class='form-group'>"+
  "<label for='id_table_pkey'>Table key:</label>"+
  "<input pattern='[a-zA-Z0-9]+[a-zA-Z0-9_]*[a-zA-Z0-9]+' value='"+pkey+"' name='ftable_key' required='' placeholder='Set a key for the table' class='form-control' id='id_table_pkey' type='text'>"+
  "</div>";
  $('#extra_fields').append(field);
}

function add_colTable(max){
  var count = $('#form-container').children().length;
  if (count >= max) {
    console.log('exceeded max inline forms');  // should maybe have a callback option
    return;
  }
  var tmplMarkup = $('#form-template').html();

  var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
  $('#form-container').append(compiledTmpl);

  // animate it
  $('#form-container').children().last().show('slow');
  // update form count
  $('#id_form-TOTAL_FORMS').attr('value', count+1);

  // some animate to scroll to view our new form
  var formHeight = 0;
  if(formHeight != null) {
    $('html, body').animate({
      scrollTop: $(window).scrollTop() + formHeight
    }, 800);
  }
}

function clear_fgkey_Fields(){
  $('div#fg_collar_reference').remove();
  $('div#fg_table_reference').remove();
}

function get_references(){
  $.ajax({
    method: "POST",
    url: '{% url "mainapp:get_collar_reference_tables_in_json" %}',
    data: {
      'path': "null_path",
    },
    dataType: 'json',
    success: function(data) {
      if (data.content.references){
        reference_select =
        "<div id='fg_table_reference' class='form-group'>"+
        "<label for='id_table_reference'>Reference:</label>"+
        "<select name='table_reference' required='' class='form-control custom-select' id='id_table_reference'>"
        for(var i = 0; i < data.content.references.length; i++) {
          reference_select += "<option value='"+data.content.references[i]+"'>"+data.content.references[i]+"</option>"
        }
        reference_select += "</select></div>"
        $("div#fg_table_name").after(reference_select);
      }
    }
  });
}

</script>
{% endblock javascript %}
