{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}SmartDHOLES|Add new table{% endblock %}

{% block content %}
<div class="container">
  <div class="col-6 mx-auto" style="margin-top:20px;">

    <form method="POST" action="{% url 'mainapp:add_table' %}">
      {% csrf_token %}

      {# columns formset #}
      {{ formset.management_form }}
      <div id="form-container">
      {% for form in formset %}
      <div class="form-fieldset-{{ forloop.counter0 }}" clean="True">

        <div class="form-group col-md-12">
          <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
          {{ form.name }}
        </div>


    </div>
    {% endfor %}
    </div>


      <div class="form-row" style="margin-top:20px;margin-bottom:20px;">
        <div class="form-group col-md-6">
          <button class="btn btn-primary" id="add-column" type="button"><span class="fa fa-plus"></span></button>
          <button class="btn btn-primary" id="form-delete" type="button"><span class="fa fa-minus"></span></button>
        </div>

        <div class="form-group col-md-6">
          <div class="float-right">
            <a href="{% url 'mainapp:reflector' %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<!-- the template -->
<script type="text/html" id="form-template">
	<div class="form-fieldset-__prefix__" style="display: none;">

      <div class="form-group col-md-12">

        <input name="form-__prefix__-name" required="" placeholder="name" class="form-control" id="id_form-__prefix__-name" type="text">
      </div>



	</div>
</script>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/inlineform/django-inline-form.js' %}"></script>
<script>
$(document).ready(function(){
  $('#add-column').djangoInlineFormAdd({
    prefix: "form",
  });

$("#id_table_type").change(function(evento){
  if(this.value == 'other_interval'){
    $.ajax({
      method: "POST",
      url: '{% url "mainapp:get_collar_tables_in_json" %}',
      data: {
        'path': "lolo",
      },
      dataType: 'json',
      success: function(data) {
        if (data.content.collars){
          collar_select =
          "<div id='fg_collar_reference' class='form-group'>"+
          "<label for='id_collar_reference'>Collar:</label>"+
          "<select name='collar_reference' required='' class='form-control custom-select' id='id_collar_reference'>"
          for(var i = 0; i < data.content.collars.length; i++) {
            collar_select += "<option value='"+data.content.collars[i]+"'>"+data.content.collars[i]+"</option>"
          }

          collar_select += "</select></div>"

          $("div#fg_table_name").after(collar_select);
        }

        if (data.content.references){
          reference_select =
          "<div id='fg_table_reference' class='form-group'>"+
          "<label for='id_table_reference'>Reference:</label>"+
          "<select name='table_reference' required='' class='form-control custom-select' id='id_table_reference'>"
          for(var i = 0; i < data.content.references.length; i++) {
            reference_select += "<option value='"+data.content.references[i]+"'>"+data.content.references[i]+"</option>"
          }

          reference_select += "</select></div>"

          $("div#fg_collar_reference").after(reference_select);
        }

      }

    });

  }
  else if (this.value == 'other_reference'){
    $('div#fg_collar_reference').remove();
    $('div#fg_table_reference').remove();
  }
});
});

</script>
{% endblock javascript %}
