{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}SmartDHOLES|Add new table{% endblock %}

{% block content %}
<div class="container">
  <div class="col-6 mx-auto" style="margin-top:20px;">
    <div style="margin-top:20px;">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success'%} alert-success {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'info' %} alert-info {% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>

    {% if formset.non_form_errors %}
    <div class=" alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{formset.non_form_errors|striptags}}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'mainapp:add_table' %}">
      {% csrf_token %}
      <div id="fg_table_type" class="form-group">
        {{ form.table_type.label_tag }}
        {{form.table_type}}
      </div>
      <div id="fg_table_name" class="form-group">
        {{ form.table_name.label_tag }}
        {{ form.table_name }}
      </div>

      {# columns formset #}
      {{ formset.management_form }}
      <div id="form-container">
      {% for form in formset %}
      <div class="form-fieldset-{{ forloop.counter0 }}">

      {% if form.name.errors %}
      <div class="form-group">
        <div class=" alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{form.name.errors|striptags }}
        </div>
      </div>
      {% endif %}

      <div class="form-row well well-lg">
        <div class="form-group col-md-7">
          <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
          {{ form.name }}
        </div>
        <div class="form-group col-md-4">
          <label for="{{ form.tb_type.id_for_label }}" class="col-form-label">{{ form.tb_type.label }}</label>
          {{ form.tb_type }}
        </div>

        <div class="form-group col-md-1 d-inline-flex flex-column p-2">
          <label data-toggle="tooltip" data-placement="top" title="NULLABLE" for="id_form-__prefix__-nullable"
           class="col-form-label text-center" style="padding-top:0px;"><strong>N:</strong></label>
          {{ form.nullable }}
        </div>


      </div>
    </div>
    {% endfor %}
    </div>


      <div class="form-row" style="margin-top:20px;margin-bottom:20px;">
        <div class="form-group col-md-6">
          <button class="btn btn-primary" id="add-column" type="button"><span class="fa fa-plus"></span></button>
          <button class="btn btn-primary" id="form-delete" type="button"><span class="fa fa-minus"></span></button>
        </div>

        <div class="form-group col-md-6">
          <div class="float-right">
            <a href="{% url 'mainapp:reflector' %}" class="btn btn-danger">Cancel</a>
            <button id="create_btn" type="submit" class="btn btn-success">Create</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<!-- the template -->
<script type="text/html" id="form-template">
	<div class="form-fieldset-__prefix__" style="display: none;">
    <div class="form-row well well-lg">
      <div class="form-group col-md-7">

        <input name="form-__prefix__-name" required="" placeholder="name" class="inp_name form-control" id="id_form-__prefix__-name" type="text">
      </div>
      <div class="form-group col-md-4">

        <select name="form-__prefix__-tb_type" required="" class="form-control" id="id_form-__prefix__-tb_type">
          <option value="String">STRING</option>
          <option value="Float">FLOAT</option>
          <option value="Integer">INTEGER</option>
        </select>
      </div>
      <div class="form-group col-md-1 d-inline-flex flex-column p-2">
        <!-- <label data-toggle="tooltip" data-placement="top" title="NULLABLE" for="id_form-__prefix__-nullable" -->
         <!-- class="col-form-label text-center" style="padding-top:0px;"><strong>N:</strong></label> -->
        <input name="form-__prefix__-nullable" style="margin-top:0px;" class="form-control align-self-center;" id="id_form-__prefix__-nullable" type="checkbox">
      </div>
    </div>

	</div>
</script>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/inlineform/django-inline-form.js' %}"></script>
<script>
$(document).ready(function(){

  $('#add-column').djangoInlineFormAdd({
    prefix: "form",
  });

//
// $('.inp_name').change(function(evento){
//
//
//   if (this.value == "lolo"){
//     alert("lolo");
// $('#create_btn').attr('disabled','disabled');
// $(this).addClass('is-invalid');
// $(this).after('<div class="invalid-feedback">This column name already exist.</div>');
// }
// else {
//   $('#create_btn').removeAttr()('disabled');
//   $(this).addClass('is-invalid');
//   $('.invalid-feedback').remove();
// }
// });

$("#id_table_type").change(function(evento){
  if(this.value == 'other_interval'){
    $.ajax({
      method: "POST",
      url: '{% url "mainapp:get_collar_tables_in_json" %}',
      data: {
        'path': "lolo",
      },
      dataType: 'json',
      success: function(data) {
        if (data.content.collars){
          collar_select =
          "<div id='fg_collar_reference' class='form-group'>"+
          "<label for='id_collar_reference'>Collar:</label>"+
          "<select name='collar_reference' required='' class='form-control custom-select' id='id_collar_reference'>"
          for(var i = 0; i < data.content.collars.length; i++) {
            collar_select += "<option value='"+data.content.collars[i]+"'>"+data.content.collars[i]+"</option>"
          }
          collar_select += "</select></div>"
          $("div#fg_table_name").after(collar_select);
        }
        if (data.content.references){
          reference_select =
          "<div id='fg_table_reference' class='form-group'>"+
          "<label for='id_table_reference'>Reference:</label>"+
          "<select name='table_reference' required='' class='form-control custom-select' id='id_table_reference'>"
          for(var i = 0; i < data.content.references.length; i++) {
            reference_select += "<option value='"+data.content.references[i]+"'>"+data.content.references[i]+"</option>"
          }
          reference_select += "</select></div>"
          $("div#fg_collar_reference").after(reference_select);
        }
      }
    });
  }
  else if (this.value == 'other_reference'){
    $('div#fg_collar_reference').remove();
    $('div#fg_table_reference').remove();
  }
});
});

</script>
{% endblock javascript %}
