<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adrian Martinez Rodriguez">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!--END Css styles-->
  </head>

  <body>

    <nav class="navbar navbar-dark navbar-expand-lg bg-primary" id="site-navbar">
      {% with request.resolver_match.view_name as urlname %}
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler collapsed my-2 mr-2" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'mainapp:index' %}">Smart Drillholes</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <div class="mr-auto">
          <ul class="nav navbar-nav">
            <li{% if urlname == 'mainapp:index' %} class="nav-item active"{% endif %}><a class="nav-link d-inline-block" href="{% url 'mainapp:index' %}">Home</a></li>
            <li{% if urlname == 'mainapp:new' %} class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'mainapp:new' %}">New</a></li>
            <li{% if urlname == 'mainapp:open' %} class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'mainapp:open' %}">Open</a></li>
          </ul>
        </div>
        <div class="ml-auto">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            {% if request.session.engineURL %}
              <li class="nav-item{% if urlname == 'mainapp:dashboard' %} active{% endif %} pull-sm-right"><a class="nav-link" href="{% url 'mainapp:dashboard' %}"><span class="fa fa-list-alt"></span></a></li>
            {% endif %}
            <li class="nav-item pull-sm-right"><b class="nav-link">{{ request.user.username }}</b></li>
            <li {% if ref == 'new' %} class="nav-item pull-sm-right"{% endif %}><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item pull-sm-right"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div><!--/.nav-collapse -->
      </div>
      {% endwith %}
    </nav>

    <div class="container-fluid {% if request.session.desktop %}full-height-body{% endif %}" id="page-content">
      {% block content %}
      {% endblock %}

    </div>
    {% if not request.session.desktop %}
    {% include "mainapp/footer.html" %}
    {% endif %}
    <!-- /.container -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/npm.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/DjangoAjax.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
    <script>
    $(document).ready(function(){
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
    });
    </script>
  </body>
</html>
