<footer id="page-footer" class="bg-light p-2">
<div class="container">
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <a href="{% url 'mainapp:new' %}" class="my-2 d-inline-block text-secondary">New database</a><br>
    <a href="{% url 'mainapp:open' %}" class="my-2 d-inline-block text-secondary">Open database</a>
  </div>
  <div class="col-md-3">
    <a href="http://opengeostat.com/about-opengeostat/" target="_blank" class="my-2 d-inline-block text-secondary">About OpenGeostat</a><br>
    <a href="http://opengeostat.com/contact/" target="_blank" class="my-2 d-inline-block text-secondary">Contact OpenGeostat</a><br>
  </div>
</div>
</div>
<div class="mx-auto text-center">
  <a href="https://github.com/opengeostat/SmartDHOLES"
  class="text-dark social-transition"
  target="_blank">
  <i class=" fa fa-github"></i>
  </a>
</div>
<div class="mx-auto text-center">
  <h4 class="text-muted">OpenGeostat in</h4>
  <a href="https://www.facebook.com/opengeostat/" class="text-secondary social-small mx-1" target="_blank">
    <i class=" fa fa-facebook"></i></a>
  <a href="https://twitter.com/OpenGeostatS" class="text-secondary social-small mx-1" target="_blank">
    <i class=" fa fa-twitter"></i></a>
  <a href="https://plus.google.com/+Opengeostat" class="text-secondary social-small mx-1" target="_blank">
    <i class=" fa fa-google-plus"></i></a>
  <a href="https://www.youtube.com/channel/UCfo5QsMbHGgKW5lxsbWxvHg" class="text-secondary social-small mx-1" target="_blank">
    <i class=" fa fa-youtube"></i></a>
  <a href="https://www.linkedin.com/company/opengeostat" class="text-secondary social-small mx-1" target="_blank">
    <i class=" fa fa-linkedin"></i></a>
</div>
<p class="text-muted text-center">Created by <a href="http://opengeostat.com/">OpenGeostat</a></p>
</footer>
