{% extends 'mainapp/base.html' %}
{% block title %}SmartDHOLES{% endblock %}
{% block content %}
<div class="mx-auto py-3 px-3">
  <h1 class="mt-2 text-center">Wellcome to the Smart Drillholes GUI</h1>
</div>
<div class="row w-100 mx-auto" style="max-width: 40rem">
  <div class="col-md-6">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body text-secondary">
        <h4 class="card-title">New Project</h4>
        <p class="card-text">To start a new project click here:</p>
        <a href="{% url 'mainapp:new' %}" class="btn btn-primary btn-block">New</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body text-secondary">
        <h4 class="card-title">Open Project</h4>
        <p class="card-text">To open an database click here:</p>
        <a href="{% url 'mainapp:open' %}" class="btn btn-primary btn-block">Open</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="mx-auto pt-3">
  {% if request.session.engineURL %}
  <div class="alert alert-warning mt-3">
    There is already an open database: <a href="{% url 'mainapp:dashboard' %}">{{ request.session.engineURL }}</a><br/>
    <small>Open a new one or <a href="{% url 'mainapp:close_connection' %}">close</a> it</small>
  </div>
{% endif %}
  </div>
</div>
{% endblock %}
