<nav class="navbar navbar-fixed collapse navbar-collapse navbar-default gr-sidebar gr-collapse-height-fix" role="navigation" id="left-panel">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        {% comment %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Table <span style="margin-top:0.5em" class="caret pull-right"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Reference</a></li>
            <li><a href="">Reference</a></li>
          </ul>
        </li>
        {% endcomment %}

      </ul>
  </div>
</nav>
