<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete all selected items?
      </div>
      <div class="modal-footer">
        <button type="submit" id="btnsave"  class="btn btn-danger">Yes, I'm sure</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
      </div>
    </div>
  </div>
</div>
