<!-- Modal -->
<div class="modal fade" id="delete_tblModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" action="{% url 'mainapp:remove_table' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="tbl" value="{{ table_key }}">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure do you want to delete "<strong class="text-danger">{{table_key}}</strong>" table?
          <div id="tb_depend">
            <ul id='depend' class='list-group'></ul>
            <div id="loadding" style="display:none; color: green;">Loadding dependencies...</div>
          </div>
          <div style="margin-top:20px;" class="border border-primary d-flex justify-content-between align-items-center">
            <div style="padding-left:10px;" class="align-middle">Please write OK to confirm.</div>
            <input id="okinput" placeholder="OK" class="border border-primary" type="text" name="" value="" style="border-radius:0px; border: 2px;">
          </div>

        </div>
        <div class="modal-footer">
          <button id="okbutton" type="submit" id="btnsave"  class="btn btn-danger" disabled>Yes, I'm sure</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">No, take me back</button>
        </div>
      </form>

    </div>
  </div>
</div>
