{% extends 'mainapp/base.html' %}
{% block content %}
<div class="col-md-6 mx-auto">
  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags == 'success'%} alert-success {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'info' %} alert-info {% endif %} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <form class="mt-2" method="POST" action="{% url 'mainapp:new' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.db_type.label_tag }}
      {{ form.db_type }}
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="text-right">
      <a href="{% url 'mainapp:index' %}" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</div>
{% endblock %}
