{% extends 'mainapp/base.html' %}
{% block title %}SmartDHOLES|New DB{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto">
  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags == 'success'%} alert-success {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'info' %} alert-info {% endif %} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <form class="mt-2" method="POST" action="{% url 'mainapp:new' %}">
    {% csrf_token %}
    <input hidden value="/" id="current_path" name="current_path"/>
    <input hidden id="selected_file" name="selected_file"/>
    <div class="form-group">
      {{ form.db_type.label_tag }}
      {{ form.db_type }}
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="text-right">
      <a href="{% url 'mainapp:index' %}" class="btn btn-danger">Cancel</a>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</div>
{% if files_explorer %}
<div class="card mt-3" id="files_explorer">
  <div class="card-header">
    <h6 id="current_path_display">/</h6>
  </div>
  <div class="card-body">
    <div class="row" id="directory_content">
      {% for folder in directory_content.folders %}
      <a class="col-lg-3 col-md-4 col-sm-6 d-block path" path="{{ folder }}/" type="folder"><i class="fa fa-folder mr-1"></i>{{ folder }}</a>
      {% endfor %}
      {% for file in directory_content.files %}
      <a class="col-lg-3 col-md-4 col-sm-6 d-block path" path="{{ file }}" type="file"><i class="fa fa-file mr-1"></i>{{ file }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block javascript %}

<script>
$(document).ready(function(){
var previous_path = "/"
$("#directory_content").on('click', '.path',function(event){
  event.preventDefault();
  var element_path = $(this).attr('path');
  if ($(this).attr('go_back')){
    var go_to = element_path;
  } else{
    var go_to = $("#current_path").val() + element_path;
  }
  if ($(this).attr('type') == "folder"){
    $(".path").removeClass("selected");
    $.ajax({
      method: "GET",
      url: '{% url "mainapp:get_folder_content_in_json" %}',
      data: {
        'path': go_to,
      },
      dataType: 'json',
      success: function(data) {
        if (data.content){
          $("#directory_content").html("");
          if (data.content.path != "/"){
            folder = data.content.previous_path;
            if (folder != "/"){
              var slash = "/";
            } else{
              var slash = "";
            }
            html_element = "<a class=\"col-lg-3 col-md-4 col-sm-6 d-block path\" go_back=\"true\" type=\"folder\" path=\""+ folder + slash +"\"><i class=\"fa fa-folder-open mr-1\"></i>...</a>"
            $("#directory_content").append(html_element);
          }
          for(var folder in data.content.folders){
            folder = data.content.folders[folder];
            html_element = "<a class=\"col-lg-3 col-md-4 col-sm-6 d-block path\" type=\"folder\" path=\""+ folder +"/\"><i class=\"fa fa-folder mr-1\"></i>"+ folder +"</a>"
            $("#directory_content").append(html_element);
          }
          for(var file in data.content.files){
            file = data.content.files[file];
            html_element = "<a class=\"col-lg-3 col-md-4 col-sm-6 d-block path\" type=\"file\" path=\""+ file +"\"><i class=\"fa fa-file mr-1\"></i>"+ file +"</a>"
            $("#directory_content").append(html_element);
          }
          $("#current_path").val(go_to);
          $("#current_path_display").html(go_to);
          $("#selected_file").val("");
        }
      }

    });
  } else{
    $(".path").removeClass("selected");
    $(this).addClass("selected");
    $("#selected_file").val($(this).attr("path"));
  }
});
});

</script>
{% endblock javascript %}
