{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}Tables|{{ table_key }}{% endblock %}
{% block content %}
<div class="row flex-xl-nowrap row-eq-height">
<div class="col-sm-12 col-lg-3 col-xl-2 bd-sidebar bg-dark p-0" role="navigation" id="left-panel">
      <ul class="nav flex-column left-panel">
        <li class="nav-item left-panel-droopdown clearfix" status="closed">
          <a class="nav-link text-light" href="#">
            <i class="fa fa-th"></i> Tables <i class="float-right fa fa-caret-right"></i>
          </a>
        </li>
        <ul id="left-panel-tables" class="nav flex-column" style="display:none" role="menu">
          {% for table_name in tks %}
          <li class="nav-item"><a data-toggle="tooltip" data-placement="right" title="{{ table_name }}" class="nav-link pl-4 text-truncate text-light" href="{% url 'mainapp:reflector' table_name %}">{{ table_name }}</a></li>
          {% endfor %}
        </ul>
        <li class="nav-item"><a class="nav-link text-light" href="#">Remove Table</a></li>
      </ul>
</div>
<div class="col-12 col-lg-9 col-xl-10">
  <form action="." method="post" class="pb-2 clearfix">
{% csrf_token %}
<input type="hidden" name="tablename" value={{ table_key }}>
  <div class="table-responsive">
  <h6 class="text-muted mt-2 pull-left">smart drillholes table: <strong>{{table_key}}</strong></h6>
  <button type="submit" id="btnsave"  class="btn btn-success btn-sm pull-right my-2"><span class="fa fa-check"></span> Save</button>
  <table class="table table-sm table-bordered table-striped" id="DB_Table">
  <thead class="table-inverse">
  <tr>
  {% for col in cols %}
  <th>
      {{ col.name }}
      {% if col.primary_key %}<span class="fa fa-key text-warning"></span>{% endif %}
      {% if col.foreign_key %}<span class="fa fa-key text-danger"></span>{% endif %}
      {% if col.unique %}U{% endif %}
      {% if col.nullable %}N{% endif %}
  </th>
  {% endfor %}
  <th><span class="fa fa-trash"></span></th>
  </tr>
  </thead>
  <tbody>
    {% for dat in data %}
    <tr>
      {% for d in dat.data %}
    <td>
      {{ d }}
    </td>
      {% endfor %}
      <td style="width:1%">
        <label class="custom-control custom-checkbox m-0 p-2">
        <input name="checkbox-delete" value="{{ dat.pks }}" type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        </label>
      </td>
  </tr>
    {% endfor %}

  </tbody>
  </table>
  </div>

    <button type="submit" id="btnsave"  class="btn btn-success btn-sm pull-right"><span class="fa fa-check"></span> Save</button>

    </form>

</div>
</div>
{% endblock %}

{% block javascript %}

<script>
$(document).ready(function(){
$('.left-panel-droopdown').find('a').tooltip();
$("#llbtnsave").click(function(evento){

//evento.preventDefault();
$.ajax({
  type: 'POST',
  url: "{% url 'mainapp:reflector' %}",
});

});
$(".left-panel-droopdown").click(function(evento){
  evento.preventDefault();
  if($(this).attr('status')=="closed"){
    $("#left-panel-tables").attr('style','display:flex');
    $(this).find('i.fa.fa-caret-right').attr('style','transform: rotate(90deg)');
    $(this).attr('status','open');
  }else{
    $("#left-panel-tables").attr('style','display:none');
    $(this).find('i.fa.fa-caret-right').attr('style','transform: rotate(0deg)');
    $(this).attr('status','closed');
  }
});
$("#DB_Table").dataTable({
  paging:false,
  columnDefs: [
                { orderable: false, targets: -1 }
              ],
});
$("#DB_Table_filter input").addClass("form-control form-control-sm mx-2");
$("#DB_Table_filter").addClass("form-inline mt-2 clearfix float-right");
});
</script>
{% endblock javascript %}
