{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}Tables|{{ table_key }}{% endblock %}
{% block content %}
<div class="row flex-xl-nowrap row-eq-height">

{% include "mainapp/left_panel.html" %}
<div class="col-12 col-md-9 col-xl-10">
{% if table_key == "OG_SMDH_SYSTEM" %}
{% include "mainapp/OG_SMDH_SYSTEMinfo.html" %}
{% endif %}

  <div style="margin-top:20px;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success'%} alert-success {% elif message.tags == 'warning' %} alert-warning {% elif message.tags == 'info' %} alert-info {% endif %} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <form action="." method="post" class="pb-2 clearfix">
{% csrf_token %}
<input type="hidden" name="tablename" value={{ table_key }}>
<h6 class="text-muted"><strong>{{table_key}}</strong>
  {% if table_key == "OG_SMDH_SYSTEM" %}<a style="outline: none;" data-toggle="collapse" href="#collapseOGInfo" aria-expanded="true" aria-controls="collapseOGInfo">
    <span class="fa fa-info-circle text-warning"></span>
  </a>{% endif %}</h6>
<div class="d-flex align-content-center justify-content-start flex-wrap mb-2">
    <div class="dataTables_filter form-inline my-1">
        <input id="Custom_Table_filter" class="form-control form-control-sm" placeholder="Search" aria-controls="DB_Table" type="search">
    </div>
<div class="ml-auto my-1">
  <div class="btn-group mr-2" role="group" aria-label="Basic example">
    <a href="{% url 'mainapp:verify' table_key %}" class="btn btn-warning btn-sm"><span class="fa fa-bug"></span></a>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'mainapp:generic_add' table_key %}" class="btn btn-success btn-sm"><span class="fa fa-plus"></span></a>
    <button type="button" class="delete_modal_btn btn btn-warning btn-sm"><span class="fa fa-trash"></span></button>
  </div>
</div>
  </div>
  <div class="table-responsive">
  <table class="table table-sm table-bordered table-striped" id="DB_Table">
  <thead class="table-inverse">
  <tr>
  {% for col in cols %}
  <th>
      {{ col.name }}

      {% if col.primary_key %}<span class="fa fa-key text-warning"></span>{% endif %}
      {% if col.foreign_key %}<span class="fa fa-key text-danger"></span>{% endif %}

      {% if col.unique %}U{% endif %}
      {% if col.nullable %}N{% endif %}
  </th>
  {% endfor %}
  <th><span class="fa fa-edit"></span></th>
  <th><span class="fa fa-trash"></span></th>
  </tr>
  </thead>
  <tbody>
    {% for dat in data %}
    <tr>
      {% for d in dat.data %}
    <td>
      {{ d }}
    </td>
      {% endfor %}
      <td style="width:1%">
        <a href="{% url 'mainapp:generic_update' table_key dat.pks %}">
          <span class="fa fa-edit"></span>
        </a>
      </td>
      <td style="width:1%">
        <label class="custom-control custom-checkbox m-0 p-2">
        <input name="checkbox_delete" value="{{ dat.pks }}" type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        </label>
      </td>
  </tr>
    {% endfor %}

  </tbody>
  </table>
  </div>
  <div class="float-right my-1">
    <div class="btn-group mr-2" role="group" aria-label="Basic example">
      <a href="{% url 'mainapp:verify' table_key %}" class="btn btn-warning btn-sm"><span class="fa fa-bug"></span></a>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'mainapp:generic_add' table_key %}" class="btn btn-success btn-sm"><span class="fa fa-plus"></span></a>
      <button type="button" class="delete_modal_btn btn btn-warning btn-sm"><span class="fa fa-trash"></span></button>
    </div>
  </div>
{% include "mainapp/modal.html" %}
</form>

</div>
</div>
{% endblock %}

{% block javascript %}

<script>
$(document).ready(function(){
$('.left-panel-droopdown').find('a').tooltip();
$("#llbtnsave").click(function(evento){

//evento.preventDefault();
$.ajax({
  type: 'POST',
  url: "{% url 'mainapp:reflector' %}",
});

});
$(".left-panel-droopdown").click(function(evento){
  evento.preventDefault();
  if($(this).attr('status')=="closed"){
    $('ul#left-panel-tables').attr('style','display:flex');
    $(this).find('i.fa.fa-caret-right').attr('style','transform: rotate(90deg)');
    $(this).attr('status','open');
  }else{
    $('ul#left-panel-tables').attr('style','display:none');
    $(this).find('i.fa.fa-caret-right').attr('style','transform: rotate(0deg)');
    $(this).attr('status','closed');
  }
});
dTable = $("#DB_Table").DataTable({
  paging:false,
  columnDefs: [
                { orderable: false, targets: [-1, -2] }
              ],
});
$("#DB_Table_filter").remove();
$('#Custom_Table_filter').keyup(function(){
      dTable.search($(this).val()).draw() ;
})
// modal script
$("button.delete_modal_btn").click(function(evento){
  evento.preventDefault();

  var nombres = [];
  $("input[type=checkbox]:checked").each(
      function ()
      {
          nombres.push($(this).val());
      });
  if (nombres != "") {
    $('#deleteModal').modal();
  }

});

});
</script>
{% endblock javascript %}
